<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @firm.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @firm.address %>
</p>

<%= link_to 'Back', firms_path %>


<table class="firmTable">
  <thead>
    <tr>
      <th style="cursor: pointer; cursor: hand;"><a>Lobbyist</a></th>
      <th>
      <th style="cursor: pointer; cursor: hand;"><a>Agency</a></th>
      <th>
      <th style="cursor: pointer; cursor: hand;"><a>Client</a></th>
      <th>
      <th style="cursor: pointer; cursor: hand;"><a> Amount </a></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @firm.lobbyists.each do |lobbyist| %>
      <% lobbyist.actions.sort_by { |action| -action.payment }.each do |action| %>
        <tr>
          <td><%= link_to lobbyist.name, lobbyist_path(lobbyist.slug) %></td>
          <td>
          <td><%= link_to action.agency.name, agency_path(action.agency.slug) %></td>
          <td>
          <td><%= link_to action.client.name, client_path(action.client.slug) %></td>
          <td>
          <td>$<%= action.payment %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
