<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<%= link_to 'Back', clients_path %>


<table>
  <thead>
    <tr>
      <th>Lobbyist</th>
      <th>Agency</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @client.actions.each do |action| %>
      <tr>
        <td><%= link_to action.lobbyist.name, lobbyist_path(action.lobbyist.slug) %></td>
        <td><%= link_to action.agency.name, agency_path(action.agency.slug) %></td>
        <td><%= action.payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>