<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agency.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @agency.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @agency.description %>
</p>


<h2> 2012 Total Paid to Lobbyists to Lobby this Agency: </h2> 
<h3> $<%= @agency.sum_payments %> </h3>

<h2> Lobbyist Actions: </h2>
<h3> <%= @agency.actions.uniq.length %> </h3>

<h2> Lobbyists: </h2>
<h3> <%= @agency.lobbyists.uniq.length %> </h3>

<h2> Lobbying Firms: </h2>
  <% @agency.lobbying_firms.each do |firm|%>
    <h3> <%= firm.name %> </h3>
  <% end %>

<h2> Organizations That Lobbied this Agency : </h2>
<h3> <%= @agency.find_clients_and_payments.keys.length %> </h3>



<table border='1' class="table table-striped table-bordered table-condensed agentTable">
  <thead>
    <tr>
      <th style="cursor: pointer; cursor: hand;"> <a>Lobbyists</a></th>
      <th style="cursor: pointer; cursor: hand;"> <a>Clients</a></th>
      <th style="cursor: pointer; cursor: hand;"> <a>Amount</a></th>
    </tr>
  </thead>

  <tbody>
    <% @agency.actions.sort_by { |action| -action.payment }.each do |action| %>
      <tr>
        <td valign="top"> <% action.lobbyists.each do |lobbyist| %>
            <%= link_to lobbyist.name, lobbyist_path(lobbyist.slug) %> <br>
            <%end%>
        </td>
        <td valign="top"> <%= link_to action.client.name, client_path(action.client(action.client.slug)) %> </td>
        <td valign="top">$<%= action.payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

