<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lobbyist.name %>
</p>

<p>
  <strong>Firm:</strong>
  <%= @lobbyist.firm_id %>
</p>

<%= link_to 'Edit', edit_lobbyist_path(@lobbyist) %> |
<%= link_to 'Back', lobbyists_path %>
